.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.user-info {
    position: relative;
    width: 30%;
  }

.userList {
    width: 70%;
}